@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>

<img class="bronco" src="BuckingBronco.png" alt="Bucking Bronco" />